# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
/frontend/.claude
/frontend/env/

# Backend Python
backend/env/
backend/venv/
backend/__pycache__/
backend/.pytest_cache/

# Général
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/